<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Çift Yönde Veri İşleme</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <h1>Çift Yönde Veri İşleme</h1>
      <label for="name">İsim:</label>
      <!-- app.js'te name ve age adında 2 deişken tanımladık ve biz input alanlarına değer girilmeye başlandığı anda (bu örnekte her tula basıldığında) ilgili alanın değişkenine girilen değerler eşitlenir. Aynı zamanda bunu aşağıda p html tag'i ile ekranda eş zamanlı görebiliriz. Bu durum VUEjs 'in en iyi özelliklerinden biridir. -->
      <input type="text" v-model="name" />
      <p>{{name}}</p>

      <label for="age">Yaş:</label>
      <input type="text" v-model="age" />
      <p>{{age}}</p>
    </div>
  </body>
  <script src="app.js"></script>
</html>
